input[type=text] {
    width: 100%;
    padding: 14px 20px;
    margin: 8px 0;
    /*box-sizing: border-box;*/
    border-radius: 0.5rem;
    border: 1px solid #ccc;
    font-size: 1.2em;
    padding: 1.1em;
}
