@import './include/base.css';
@import './include/table.css';
@import './include/button.css';
@import "./include/form.css";

h1 {
    text-transform: uppercase;
    font-weight: bold;
}

h2 {
    text-transform: uppercase;
    font-weight: bold;
    color: var(--vt-c-text-light-2);
}
